In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('dataset.csv')

In [3]:
df

    Roll  CGPA
0      1   7.7
1      2   8.1
2      3   6.2
3      4   7.8
4      5   9.3
5      6   8.2
6      7   5.5
7      8   7.0
8      9   8.0
9     10   9.2
10    11   7.0
11    12   7.3
12    13   8.8
13    14   7.1
14    15   9.4

In [4]:
df['CGPA']

0     7.7
1     8.1
2     6.2
3     7.8
4     9.3
5     8.2
6     5.5
7     7.0
8     8.0
9     9.2
10    7.0
11    7.3
12    8.8
13    7.1
14    9.4
Name: CGPA, dtype: float64

In [7]:
df[df['CGPA'] < 7.0]

   Roll  CGPA
2     3   6.2
6     7   5.5

In [8]:
CGPA = df['CGPA']
mean_cgpa = np.mean(CGPA)

In [9]:
mean_cgpa

7.7733333333333325

In [10]:
min_cgpa = np.min(CGPA)

In [11]:
min_cgpa

5.5

In [15]:
df[df['CGPA'] > mean_cgpa]

    Roll  CGPA
1      2   8.1
3      4   7.8
4      5   9.3
5      6   8.2
8      9   8.0
9     10   9.2
12    13   8.8
14    15   9.4

In [14]:
df[df['CGPA'] < 7.0]

    Roll  CGPA
0      1   7.7
1      2   8.1
2      3   6.2
3      4   7.8
4      5   9.3
5      6   8.2
7      8   7.0
8      9   8.0
9     10   9.2
10    11   7.0
11    12   7.3
12    13   8.8
13    14   7.1
14    15   9.4

In [16]:
max_cgpa = np.max(CGPA)
max_cgpa

9.4

In [26]:
x = df['CGPA'] > mean_cgpa

In [27]:
x = df[x == True]

In [28]:
x

    Roll  CGPA
1      2   8.1
3      4   7.8
4      5   9.3
5      6   8.2
8      9   8.0
9     10   9.2
12    13   8.8
14    15   9.4